[submodule "Neo4j_graph_container/Spark_Neo4J_scored_paths_computation"]
[submodule "Spark_Neo4J_scored_paths_computation"]
	path = Spark_Neo4J_scored_paths_computation
	url = https://github.com/Jesshuan/Spark_Neo4J_scored_paths_computation.git
[submodule "E_Cartomobile_R-D"]
	path = E_Cartomobile_R-D
	url = https://github.com/Jesshuan/E_Cartomobile_R-D.git
